body>hr{
  margin-top: 70px;
}
footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer>div{
  display: grid;
  grid-template-columns: repeat(4 ,auto);
  grid-template-rows: repeat(6 ,auto);
  width: 1240px;
  height: 420px;
  margin: 3% 10%;
  column-gap: 20px;
}
footer>div>div:first-child{
  grid-area: 1/1/2/2;
  font-size: 24PX;
  font-weight: 700;
  line-height: 36PX;
}
footer>div>div:nth-child(2){
  grid-area: 2/1/3/2;
  color: #9F9F9F;
  font-weight: 400;
}
footer>div>div:nth-child(3){
  grid-area: 6/1/7/6;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-top: 1px #9F9F9F solid;
}
footer>div>div:nth-child(4){
  grid-area: 1/2/2/3;
  color: #c7c7c7;
}
footer>div>div:nth-child(5){
  grid-area: 2/2/3/3;

}
footer>div>div:nth-child(6){
  grid-area: 3/2/4/3;
}
footer>div>div:nth-child(7){
  grid-area: 4/2/5/3;
}
footer>div>div:nth-child(8){
  grid-area: 5/2/6/3;
}
footer>div>div:nth-child(9){
  grid-area: 1/3/2/4;
  color: #9F9F9F;
}
footer>div>div:nth-child(10){
  grid-area: 2/3/3/4;
}
footer>div>div:nth-child(11){
  grid-area: 3/3/4/4;
}
footer>div>div:nth-child(12){
  grid-area: 4/3/5/4;
}
footer>div>div:nth-child(13){
  grid-area: 1/4/2/5;
  color: #9F9F9F;
}
footer>div>div:nth-child(14){
  grid-area: 2/4/3/5;
  display: flex;
}
footer>div>div:nth-child(14)>button{
text-underline-offset: 5px;
text-decoration: underline black 2px;
color: black;
margin-left: 15px;
font-size: 14px;
font-weight: 800;
line-height: 21px;
border: none;
background-color: transparent;
height: fit-content;
}
footer>div>div:nth-child(14)>input{
  border: none;
  height: fit-content;
}
footer>div>div:nth-child(14)>input::placeholder{
  color: #9F9F9F;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 2px;
  border-bottom: black 2px solid;
}

@media (max-width:600px) {
  footer>div{
    grid-template-columns: 55px 100px 50px 50px 50px;
    grid-template-rows: repeat(5 ,auto);
    column-gap: 5px;
    overflow-x: scroll;
  }
  footer>div>div:first-child{
    font-size: 16px;
  }
  footer>div>div:nth-child(2){
    grid-area: 1/2/2/5;
    font-size: 10px;
    line-height: 15px;
    margin-top: 10px;
  }
  footer>div>div:nth-child(3){
    grid-area: 6/1/7/6;
  }
  footer>div>div:nth-child(4){
    grid-area: 2/1/3/2;
    font-size: 10px;
  }
  footer>div>div:nth-child(5){
    grid-area: 2/2/3/3;
    font-size: 10px;
  }
  footer>div>div:nth-child(6){
    grid-area: 2/3/3/4;
    font-size: 10px;
  }
  footer>div>div:nth-child(7){
    grid-area: 2/4/3/5;
    font-size: 10px;
  }
  footer>div>div:nth-child(8){
    grid-area: 2/5/3/6;
    font-size: 10px;
  }
  footer>div>div:nth-child(9){
    grid-area: 3/1/4/2;
    font-size: 10px;
  }
  footer>div>div:nth-child(10){
    grid-area: 3/2/4/3;
    font-size: 10px;
  }
  footer>div>div:nth-child(11){
    grid-area: 3/3/4/4;
    font-size: 10px;
  }
  footer>div>div:nth-child(12){
    grid-area: 3/4/4/5;
    font-size: 10px;
  }
  footer>div>div:nth-child(13){
    grid-area: 4/1/5/2;
    font-size: 8px;
  }
  footer>div>div:nth-child(14){
    grid-area: 4/2/5/3;
    flex-direction: column;
    align-items: flex-start;
  }
  footer>div>div:nth-child(14)>button{
    font-size: 8px;
    margin: 0;
  }
  footer>div>div:nth-child(14)>input::placeholder{
    font-size: 8px;
  }
  footer>div>div:nth-child(14)>input{
    width: 100px;
  }
}