header>div:nth-child(3){
  height: 416px;
  width: 100%;
}
header>div:nth-child(3)>div:first-child{
  height: 316px;
  background-image: url(../images/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header>div:nth-child(3)>div:first-child h1{
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: center;
}
header>div:nth-child(3)>div:first-child h3{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
header>div:nth-child(3)>div:nth-child(2){
  height: 100px;
  background-color: #F9F1E7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
}
header>div:nth-child(3)>div:nth-child(2)>div{
  display: flex;
  justify-content: space-between;
  width: 500px;
}
header>div:nth-child(3)>div:nth-child(2)>div>div:first-child{
  display: flex;
  justify-content: space-between;
  width: 100px;
  align-items: center;
}
header>div:nth-child(3)>div:nth-child(2)>div>div:nth-child(4){
  width: 220px;
  display: flex;
  justify-content: flex-end;
  border-left: black solid 2px;
}
header>div:nth-child(3)>div:nth-child(2)>div:nth-child(2){
  width: 500px;
}
header>div:nth-child(3)>div:nth-child(2)>div:nth-child(2)>div{
  width: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header>div:nth-child(3)>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
  width: 288px;
}
header>div:nth-child(3)>div:nth-child(2)>div:nth-child(2) div div{
  background-color: #ffffff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #9F9F9F;
  font-size: 20px;
  font-weight: 400;
}
header>div:nth-child(3)>div:nth-child(2)>div:nth-child(2) div:nth-child(2) div{
  width: 188px;
}
header>div:nth-child(3)>div:nth-child(2)>div:nth-child(2) div>span{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
header>div:nth-child(3)>div:nth-child(3){
  position: absolute;
  width: 100px;
  height: 500px;
  top: 20vw;
}


/*secton 1*/
section:nth-child(2){
  display: flex;
  flex-direction: column;
  margin: 20px 100px;
  position: relative;
  margin-top: 70px;
}
section:nth-child(2)>div{
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
section:nth-child(2)>div>div{
  width: 285px;
  height: 446px;
  background-color: #f4f5f7;
  margin: 0 20px;
  position: relative;
}
section:nth-child(2)>div>div{
  display: flex;
  flex-direction: column;
}
section:nth-child(2)>div>div>img{
  object-fit: contain;
  width: 100%;
}
section:nth-child(2)>div>div>div:nth-child(2){
  background-color: red;
  border-radius: 100%;
  width: fit-content;
  color: #ffffff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  position: absolute;
  top: 25px;
  right: 25px;
}
section:nth-child(2)>div>div>div:nth-child(2).new{
  background-color: rgb(46, 193, 172);
}
section:nth-child(2)>div>div>div:nth-child(3){
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}
section:nth-child(2)>div>div>div:nth-child(3)>h4{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
section:nth-child(2)>div>div>div:nth-child(3)>p
,section:nth-child(2)>div>div>div:nth-child(3)>div>del{
  color: #898989;
  margin: 3px 0;
  font-weight: 500;
}
section:nth-child(2)>div>div>div:nth-child(3)>div>h5{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
section:nth-child(2)>div>div>div:nth-child(3)>div:nth-child(3){
  display: flex;
  justify-content: space-between;
}
section:nth-child(2)>div>div>div:nth-child(4){
  position: absolute;
  background-color: rgb(0, 0, 0 , .6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: ease-in-out .5s;
}
section:nth-child(2)>div>div>div:nth-child(4):hover{
  opacity: 1;
  transition: ease-in-out .5s;
}
section:nth-child(2)>div>div>div:nth-child(4)>div:first-child,
section:nth-child(2)>div>div>div:nth-child(4)>a:first-child{
  width: 70%;
  background-color: #ffffff;
  text-align: center;
  height: 48px;
  line-height: 50px;
  color: #b88e2f;
  font-weight: 600;
}
section:nth-child(2)>div>div>div:nth-child(4)>div:nth-child(2){
  display: flex;
}
section:nth-child(2)>div>div>div:nth-child(4)>div:nth-child(2) *{
  color: #ffffff;
  font-size: 16px;
}
section:nth-child(2)>div>div>div:nth-child(4)>div:nth-child(2){
  margin-top: 25px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
section:nth-child(2)>div>div>div:nth-child(4)>div:nth-child(2)>div>i:nth-child(1){
  margin-right: 5px;
}
.hidden{
  display: none;
}
section:nth-child(2)>div:nth-child(5) *{
  all: unset;
}
section:nth-child(2)>div:nth-child(5){
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
section:nth-child(2)>div:nth-child(5)>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
section:nth-child(2)>div:nth-child(5)>div>div{
  all: unset;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  background-color: #F9F1E7;
  width: fit-content;
  border-radius: 10px;
  padding: 15px 30px;
}
section:nth-child(2)>div:nth-child(5)>div>div:first-child{
  background-color: #b88e2f;
  color: #ffffff;
}
section:nth-child(3){
  width: 100%;
  height: 270px;
  padding: 100px 50px;
  background-color: #faf3ea;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section:nth-child(3)>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section:nth-child(3)>div>div:first-child{
  width: 60px;
  height: 60px;
}
section:nth-child(3)>div>div:last-child{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
  height: 60px;
}
section:nth-child(3)>div>div:last-child>h3{
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
}
section:nth-child(3)>div>div:last-child>h4{
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #898989;
}