*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
}
a{
  color: black;
  text-decoration: none;
}
img{
  width: fit-content;
  height: fit-content;
}
i{
  font-size: 24px;
}
img{
  width: fit-content;
  height: fit-content;
  object-fit: contain;
}
header>nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 30px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: visible;
}
header>nav>div:nth-child(1){
  width: 185px;
  height: 40px;
  overflow: visible;
}
header>nav>div:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  height: 24px;
  overflow: visible;
}
header>nav>div:nth-child(2)>a{
  transition: 300ms;
}
header>nav>div:nth-child(2)>a:hover{
  transition: 300ms;
  font-weight: 900;
  transform: scale(1.1);
}
header>div:nth-child(2){
  width: 100%;
  height: 70px;
}
header>nav>div:last-child{
  width: 200px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}
.uiIcon ,.uiIcon i{
  transition: transform 1s ease;
  overflow: visible;
}
.uiIcon:hover{
  transform: scale(1.1) translate(0px , -5px);
}
#side-menu{
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: 0.70s ease-out;
  border-radius: 15px 0 0 15px;
  box-shadow: 0px 10px 20px;
  right: -100%;
  display: flex;
  flex-direction: column;
}
#side-menu.active{
  right: 0;
}
#side-menu-profile{
  height: 80px;
  display: flex;
  align-items: center;
}
#side-menu-options{
  flex-grow: 1;
}
#profile-picture{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px lightslategray solid;
} 
#profile-picture span {
  font-size: 64px;
  text-align: center;
  line-height: 1;
  display: block;
  color: lightslategray;
}
#menu-profile-data{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-left: 10px;
}
#your-name{
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  overflow: hidden;
}
#delivary-address{
  position: absolute;
  bottom: 0;
}
#delivary-address p{
  font-size: 11px;
  line-height: 1;  
}
#side-menu-options ul{
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
#side-menu-options ul a ,#side-menu-signin a{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  border-width: 0;
  align-items: center;
  padding: 0 20px;
  margin-top: 5px;
}
#side-menu-signin a{
  color: red;
}
#side-menu-options ul a span ,#side-menu-signin a span{
  line-height: 1;
  font-size: 32px;
  color: inherit;
}
#side-menu-options ul a h4 ,#side-menu-signin a h4{
  line-height: 50px;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 900;
  text-wrap: nowrap;
  height: 100%;
  color: inherit;
}


@media (min-width:751px) and (max-width:990px) {
  header>nav>div:nth-child(2){
    width: 250px;
  }
}
@media (max-width: 750px) {
  header>nav>div:last-child>label:nth-child(6){
    display: block;
  }
  header>nav>div:nth-child(2) , header>nav>div:nth-child(3)>div:nth-child(7)>div:nth-child(3)>span{
    display: none;
  }

}
@media (max-width: 550px){
  header>nav>div:last-child>span:nth-child(3) , header>nav>div:last-child>span:nth-child(4){
    display: none;
  }
  header>nav>div:last-child{
    width: 100px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header>nav>div:last-child>span:nth-child(5) , header>nav>div:nth-child(3)>div:nth-child(7)>div:nth-child(3)>span:nth-child(3) , header>nav>div:nth-child(3)>div:nth-child(7)>div:nth-child(3)>span:nth-child(4){
    display: block;
  }
}
@media (max-width: 400px){
  header>nav>div:last-child>span:nth-child(1) , header>nav>div:last-child>span:nth-child(2){
    display: none;
  }
  header>nav>div:last-child>span:nth-child(5){
    width: 25px;
    text-align: center;
  }
  header>nav>div:last-child{
    width: 25px;
  }
  header>nav>div:nth-child(3)>div:nth-child(7)>div:nth-child(3)>span{
    display: block;
  }
  .sidebar{
    right: -150%;
  }
  header>nav>div:nth-child(1){
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header>nav>div:nth-child(1)>img{
    width: 100%;
    align-self: center;
  }
}