@media (max-width:1440px) {
  header>div:nth-child(3)>div>h1 {
    font-size: 32px;
    line-height: 40px;
  }

  header>div:nth-child(3)>div>p {
    font-size: 15px;
    font-weight: 500;
  }

  header>div:nth-child(3)>div>p:first-child {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
  }


  /*Section 2*/
  section:nth-child(3) {
    display: grid;
    grid-template-columns: 180px 10px 180px 10px 180px 10px 180px;
  }

  section:nth-child(3)>div:nth-child(1)>h2 {
    font-size: 40px;
  }

  section:nth-child(3)>div:nth-child(n+2):nth-child(-n+9)>div:nth-child(3)>div:nth-child(2) {
    width: 160px;
    align-items: center;
    justify-content: space-between;
  }

  section:nth-child(3)>div:nth-child(n+2):nth-child(-n+9)>div:nth-child(3)>div:nth-child(2)>div>* {
    font-size: 12px;
  }

  section:nth-child(3)>div>div {
    padding: 10px;
  }

  section:nth-child(3)>div>div>h4,
  section:nth-child(3)>div>div>div>h5 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3px;
  }

  section:nth-child(3)>div>div>div>del {
    font-weight: 400;
    font-size: 8px;
  }

  section:nth-child(3)>div>div>p {
    font-weight: 500;
    font-size: 12px;
    color: #898989;
    margin-bottom: 3px;
  }

  /*Section 3*/
  section:nth-child(4) {
    height: 400px;
  }

  section:nth-child(4)>div {
    margin: 8px;
  }

  section:nth-child(4)>div:first-child {
    width: 205px;
  }

  section:nth-child(4)>div:first-child>h2 {
    font-size: 20px;
    line-height: 35px;
  }

  section:nth-child(4)>div:first-child>p {
    font-size: 10px;
  }

  section:nth-child(4)>div:first-child>div {
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    margin-top: 25px;
    width: 120px;
    padding: 15px 15px;
  }

  section:nth-child(4)>div:nth-child(2) {
    width: 246px;
    height: 350px;
  }

  section:nth-child(4)>div:nth-child(2)>div:first-child {
    padding: 10px;
    height: auto;
  }

  section:nth-child(4)>div:nth-child(2)>div:first-child>h3 {
    font-size: 12px;
  }

  section:nth-child(4)>div:nth-child(2)>div:first-child>h3:nth-child(2) {
    font-size: 22px;
  }

  section:nth-child(4)>div:nth-child(2)>div:nth-child(2) {
    background-color: #B88E2F;
    padding: 2px;
    width: 30px;
    height: 30px;
  }

  section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>i {
    font-size: 10px;
  }

  section:nth-child(4)>div:nth-child(3)>div:first-child>img {
    height: 300px;
  }

  section:nth-child(4)>div:nth-child(3)>div:first-child>img:nth-child(-n+3) {
    margin-right: 15px;
  }

  section:nth-child(4)>div:nth-child(3)>div:nth-child(2) {
    height: 50px;
  }

  /*Section 4*/
  section:nth-child(5)>div:nth-child(2) {
    align-self: flex-start;
  }

  section:nth-child(5)>div:first-child {
    position: sticky;
    left: 32vw;
  }
}



@media (max-width:1000px) {
  header>div:nth-child(3)>div>h1 {
    font-size: 35px;
    line-height: 45px;
    height: fit-content;
  }

  header>div:nth-child(3)>div>p {
    font-size: 15px;
    font-weight: 500;
  }

  header>div:nth-child(3)>div>div {
    width: 150px;
    padding: 15px 40px;
    height: 50px;
    font-size: 15px;
  }

  header>div:nth-child(3)>div>p:first-child {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
  }

  header>div:nth-child(3) {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  header>div:nth-child(3)>div {
    width: 350px;
    display: flex;
  }



  /*First section*/
  section:nth-child(2) {
    overflow-x: visible;
  }

  .categorys {
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    overflow: visible;
  }

  .categoryDescription {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 11;
    height: 140%;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    justify-content: start;
  }

  .buttonGet {
    
    bottom: 100%;
  }

  .otherCategorys {
    grid-column: 1/2;
    z-index: 11;
    min-height: 20%;
    top: 50%;
    overflow-x: visible;
  }
  .s1description div h4{
    font-size: 2rem;
    line-height: 1;
  }
  .s1description div p{
    font-size: 1rem;
    line-height: 1;
  }
  /*Section 2*/
  section:nth-child(3) {
    display: grid;
    grid-template-columns: 230px 20px 230px 20px 230px 20px 230px;
    justify-content: start;
  }

  section:nth-child(3)>div:nth-child(10)>div {
    position: sticky;
    display: block;
    align-self: normal;
    left: 35%;
  }

  section:nth-child(3)>div:nth-child(1)>h2 {
    position: sticky;
    display: block;
    align-self: normal;
    left: 25%;
  }

  section:nth-child(3)>div:nth-child(n+2):nth-child(-n+9)>div:nth-child(3)>div:nth-child(2)>div {
    margin: 5px;
  }

  section:nth-child(3)>div:nth-child(n+2):nth-child(-n+9)>div:nth-child(3)>div:nth-child(2) {
    width: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  section:nth-child(3)>div:nth-child(n+2):nth-child(-n+9)>div:nth-child(3)>div:nth-child(2)>div>* {
    font-size: 24px;
  }

  /*Section 3*/
  section:nth-child(4) {
    height: 720px;
    flex-wrap: wrap;
    margin: 0px 10px;
    align-items: center;
  }

  section:nth-child(4)>div {
    margin: 6px 0;
  }

  section:nth-child(4)>div:first-child {
    width: 40%;
  }

  section:nth-child(4)>div:first-child>h2 {
    font-size: 20px;
    line-height: 25px;
  }

  section:nth-child(4)>div:first-child>p {
    line-height: 15px;
  }

  section:nth-child(4)>div:nth-child(2) {
    width: 40%;
    height: 280px;
  }

  section:nth-child(4)>div:nth-child(2)>div:first-child {
    padding: 10px;
    height: auto;
    width: 60%;
  }

  section:nth-child(4)>div:nth-child(2)>div:first-child>h3 {
    font-size: 6px;
    line-height: 12px;
  }

  section:nth-child(4)>div:nth-child(2)>div:first-child>h3:nth-child(2) {
    font-size: 10px;
    line-height: 16px;
  }

  section:nth-child(4)>div:nth-child(2)>div:nth-child(2) {
    background-color: #B88E2F;
    padding: 2px;
    width: 20px;
    height: 20px;
  }

  section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>i {
    font-size: 8px;
    line-height: 10px;
    position: relative;
    bottom: 5PX;
  }

}
@media (max-width: 500px) {
  .s1description div h4{
    font-size: 1.5rem;
    line-height: 1;
  }
  .s1description div p{
    font-size: 1rem;
    line-height: 1;
  }
  section:nth-child(2)>div:first-child>h2{
    font-size: 1.5rem;
  }
  section:nth-child(2)>div:first-child>p{
    font-size: 0.7rem;
    line-height: 1;
  }
}