@media (max-width:700px) {

  header>div:nth-child(3) {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  header>div:nth-child(3)>div {
    display: flex;
    width: 80%;
    padding: 20px;
  }

}