@media (max-width:700px) {

  header>div:nth-child(3) {
    justify-content: center;
    display: flex;
    align-items: center;
  }

  header>div:nth-child(3)>div {
    display: flex;
    width: 80%;
    padding: 20px;
  }

}
@media (max-width:930px) {
  .categoryImage{
    display: none ;
  }
  .S1RightSection{
    width: 100%;
  }
}